-- Epic 3, Story 3.1: Salesforce Lightning Component Integration
-- Database schema extensions for OAuth and CRM integration

-- Salesforce OAuth Connection Management
CREATE TABLE IF NOT EXISTS salesforce_connections (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    organization_id UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
    salesforce_org_id VARCHAR(18) NOT NULL UNIQUE,
    access_token_hash VARCHAR(255) NOT NULL,
    refresh_token_hash VARCHAR(255) NOT NULL,
    instance_url VARCHAR(500) NOT NULL,
    salesforce_user_id VARCHAR(18) NOT NULL,
    created_at TIMESTAMP DEFAULT NOW(),
    updated_at TIMESTAMP DEFAULT NOW(),
    last_sync TIMESTAMP,
    expires_at TIMESTAMP,
    is_active BOOLEAN DEFAULT true
);

-- CRM Account to Dossier Mapping  
CREATE TABLE IF NOT EXISTS crm_account_mappings (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    dossier_id UUID NOT NULL REFERENCES dossiers(id) ON DELETE CASCADE,
    salesforce_account_id VARCHAR(18) NOT NULL,
    organization_id UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
    salesforce_connection_id UUID NOT NULL REFERENCES salesforce_connections(id) ON DELETE CASCADE,
    company_name VARCHAR(255) NOT NULL,
    last_synced TIMESTAMP DEFAULT NOW(),
    sync_status VARCHAR(20) DEFAULT 'pending', -- pending, synced, error
    sync_error_message TEXT,
    created_at TIMESTAMP DEFAULT NOW(),
    
    -- Ensure unique mapping per Salesforce account
    UNIQUE(salesforce_account_id, organization_id)
);

-- Salesforce Custom Field Sync Status
CREATE TABLE IF NOT EXISTS salesforce_field_mappings (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    organization_id UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
    salesforce_connection_id UUID NOT NULL REFERENCES salesforce_connections(id) ON DELETE CASCADE,
    field_name VARCHAR(255) NOT NULL, -- ProspectPi_Intelligence_Summary__c, etc.
    field_type VARCHAR(50) NOT NULL,  -- text, textarea, datetime, number
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP DEFAULT NOW(),
    
    -- Ensure unique field per org
    UNIQUE(organization_id, field_name)
);

-- OAuth State Management (Security)
CREATE TABLE IF NOT EXISTS oauth_state_tokens (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    state_token VARCHAR(255) NOT NULL UNIQUE,
    organization_id UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
    redirect_uri VARCHAR(500),
    created_at TIMESTAMP DEFAULT NOW(),
    expires_at TIMESTAMP DEFAULT (NOW() + INTERVAL '10 minutes'),
    is_used BOOLEAN DEFAULT false
);

-- Lightning Component Usage Analytics
CREATE TABLE IF NOT EXISTS salesforce_usage_analytics (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    organization_id UUID NOT NULL REFERENCES organizations(id) ON DELETE CASCADE,
    salesforce_user_id VARCHAR(18) NOT NULL,
    action_type VARCHAR(50) NOT NULL, -- oauth_connect, dossier_generate, component_load
    salesforce_account_id VARCHAR(18),
    dossier_id UUID REFERENCES dossiers(id) ON DELETE SET NULL,
    metadata JSONB, -- Additional context data
    created_at TIMESTAMP DEFAULT NOW()
);

-- Add Salesforce context to existing dossiers table
ALTER TABLE dossiers 
ADD COLUMN IF NOT EXISTS salesforce_account_id VARCHAR(18),
ADD COLUMN IF NOT EXISTS salesforce_user_id VARCHAR(18),
ADD COLUMN IF NOT EXISTS crm_sync_status VARCHAR(20) DEFAULT 'not_synced'; -- not_synced, syncing, synced, error

-- Performance indexes
CREATE INDEX IF NOT EXISTS idx_salesforce_org_active ON salesforce_connections(salesforce_org_id, is_active);
CREATE INDEX IF NOT EXISTS idx_organization_active ON salesforce_connections(organization_id, is_active);
CREATE INDEX IF NOT EXISTS idx_dossier_account ON crm_account_mappings(dossier_id, salesforce_account_id);
CREATE INDEX IF NOT EXISTS idx_dossiers_salesforce_account ON dossiers(salesforce_account_id, crm_sync_status);
CREATE INDEX IF NOT EXISTS idx_oauth_expires_cleanup ON oauth_state_tokens(expires_at, is_used);

-- Comments for maintainability
COMMENT ON TABLE salesforce_connections IS 'Epic 3.1: OAuth connections between ProspectPI organizations and Salesforce orgs';
COMMENT ON TABLE crm_account_mappings IS 'Epic 3.1: Mapping between Salesforce accounts and generated dossiers';
COMMENT ON TABLE salesforce_field_mappings IS 'Epic 3.1: Custom field configuration for CRM data sync';
COMMENT ON TABLE oauth_state_tokens IS 'Epic 3.1: OAuth security state management with auto-expiry';
COMMENT ON TABLE salesforce_usage_analytics IS 'Epic 3.1: Lightning Component usage tracking for analytics';
